.country-selector-container 
    position: relative
    width: 200px


.country-selector-label 
    font-size: 14px
    margin-bottom: 5px
    display: block


.country-selector-input 
    width: 100%
    padding: 8px
    border-radius: 10px
    border: 1px solid #ccc
    background-color: #fefefe
    font-size: 14px

.country-selector-dropdown 
    list-style-type: none
    padding: 0
    margin: 0
    margin-top: 70px
    border-radius: 10px
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15)
    background-color: #ffffff
    color: #000
    max-height: 150px
    overflow-y: scroll
    scrollbar-width: none
    position: absolute
    width: 100%
    z-index: 1

    li
        padding: 10px
        cursor: pointer
        &:hover
          background-color: #f8f8f8