#root, html, body
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  font-weight: bold
  font-family: Amiko, sans-serif
  box-sizing: border-box

*,
*::before,
*::after
  box-sizing: inherit


.profile-container
  display: flex
  flex-direction: row
  align-items: flex-start
  width: 100%
  margin: 0
  padding: 0
  background-color: #F5F5F5


.profile-items
  width: 80%
  display: flex
  justify-content: flex-start
  align-items: flex-start

.profile-page
  width: 80%
  max-width: 1000px
  display: flex
  flex-direction: column
  align-items: flex-start

  h2
    width: 100%
    font-size: 20px
    margin: 0 0 20px 0
    border-bottom: 1px solid #ccc
    padding-bottom: 10px
    color: #2b2726


.profile-form
  display: flex
  flex-direction: row
  align-items: flex-start  
  gap: 10px 
  margin-left: 250px

  .profile-picture
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 0
    margin-right: 0

    img
      width: 180px
      height: 180px
      border-radius: 50%
      margin-bottom: 10px

    .upload-button
      color: rgba(43, 39, 38, 0.78)
      background: none
      padding: 8px 12px
      border: none
      border-radius: 5px
      cursor: pointer

  .form-group
    flex: 1
    display: flex
    flex-direction: column
    gap: 1px

    
    .form-line
      display: flex
      flex-direction: row
      gap: 15px
      margin-bottom: 15px
      width: 90%
      flex-wrap: nowrap   // impede quebra de linha

      
      > div
        flex: 1
        display: flex
        flex-direction: column

      label
        font-size: 14px
        margin-bottom: 5px
        color: #2b2726

      .input-container
        position: relative

      input, select, textarea
        width: 100%
        padding: 10px 50px 10px 15px
        border: 1px solid #ccc
        border-radius: 10px
        font-size: 14px
        font-weight: normal

      .edit-icon, .calendar-icon
        position: absolute
        right: 15px
        top: 50%
        transform: translateY(-50%)
        font-size: 14px
        color: #533753
        pointer-events: none

    
    .textarea
      resize: none
      margin: 0
      padding: 12px 20px
      border: 1px solid #ccc
      border-radius: 10px
      font-size: 14px
      width: 100%

    
    .email-field
      label
        font-size: 14px
      input
        width: 80%

    .password-field
      display: flex
      align-items: center

      input
        flex-grow: 1
        width: auto 

      .change-password
        background-color: #533753 !important
        color: #ffffff !important
        padding: 8px 12px
        border: none
        border-radius: 5px
        margin-left: 10px
        cursor: pointer
